{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Our Online Store.</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">

<br/><br/>
Welcome to our small art business, where creativity and passion come together to create unique and beautiful pieces of art. Our mission is to bring joy and inspiration to people's lives through our art, and to share our love for creativity with others. We offer a range of services, from custom paintings and illustrations to graphic design and branding. Our team of skilled artists and designers work closely with each client to understand their vision and create a piece of art that is both personal and meaningful. Whether you are looking for a special gift, a statement piece for your home or office, or a way to elevate your brand, we are here to help. Thank you for considering our small art business, and we look forward to working with you!
<br/><br/>

</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}